/*New custom hls dev css*/

.info-person {
    background-color: rgb(246, 247, 249);
    padding: 10px 15px;
    /* border-radius: 5px; */
    margin: 0 5px 20px 0;
    /* border: 1px solid LightGray; */
}
.info-person .panel-heading {
    text-align: center;
}
.space {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .img-thumb img{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.profile-picture img  {
    height: 220px;
    width: 230px;
    object-fit: cover;
    clip-path: circle();
}
.profile-picture {
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.fileinput{
   text-align: center;
    width: 230px;
}
.btn-img{
    padding-top: 10px;
}

.btn-img .btn-file  {
    margin-right: 10px;
}



.info-person .phone_country_code {
    width: 40%;
    margin-top: -4px;
}
.info-person-padding{
    padding-top: 25px;
    padding-bottom: 30px;
}
.padding-edit{
    padding-top: 20px;
    padding-bottom: 50px;
}
.padding-create{
    padding-bottom: 0px;
}
.panel-heading{
    margin-bottom: 20px;
}
.info-person .mobile {
    width: 60%;
}

.info-person .tagify {
    background-color: white;
}
.text{
    display : block; overflow-wrap: break-word; max-width : 100%;
}
.text-datatable{
    max-width: 130px;
    display : block;
    overflow-wrap: break-word;
}
 

.tagify {
    overflow: auto !important;
    flex-wrap: unset !important;
    height: 42.6px;
}

